body {
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #252830;
  color: #cfd2da;
}

/*----------------------------------------------------------
      Table Design
-----------------------------------------------------------*/

.data-table {
  min-width: 50%;
  width: auto;
}

.special {
  color: #1997c6;
  cursor: pointer;
}

.edit,
.delete,
.view {
  cursor: pointer;
  font-size: 20px;
}

.data-table i {
  font-size: 20px;
}

.edit {
  color: #1997c6;
}

.delete {
  color: #e64759;
}

table th,
table td {
  font-size: 0.9rem;
}

/*----------------------------------------------------------
      Modal Design
-----------------------------------------------------------*/
.modal-style {
  background: #24272e;
}

.modal-header {
  border-bottom: 1px solid #434857;
  display: flex;
  align-items: center;
}

.modal-header h5 {
  font-size: 24px;
  font-weight: 100;
  text-transform: capitalize;
  letter-spacing: 1px;
  margin-left: 5px;
}

/*----------------------------------------------------------
      Video Player Design
-----------------------------------------------------------*/
.video-player-content {
  position: relative;
}

.vidoe-cortrols {
  position: absolute;
  bottom: 0px;
  width: 100%;
}

.video-progress-bar {
  width: 99.8%;
  height: 3px;
  background: red;
  margin: 0px auto;
}

.vidoe-cortrols i {
  cursor: pointer;
}

.single-control {
  float: left;
}

/*----- Live video icon  and text -----*/

.live-video {
  margin-left: 5px;
  margin-top: -2px;
}

.live-video span {
  font-size: 14px;
  text-transform: uppercase;
}

.live-video span::before {
  display: inline-block;
  width: 6px;
  height: 6px;
  vertical-align: 4%;
  margin-right: 5px;
  background: red;
  content: "";
  border-radius: 6px;
}

.control-right i {
  margin-right: 3px;
}

.vidoe-cortrols::after {
  display: table;
  clear: both;
  content: "";
}

/*-------Input type range design-------*/

.input-range-wrapper {
  position: relative;
  width: 70px;
  margin-top: -14px;
  margin-left: 5px;
}

.input-range {
  margin-top: 20px;
  width: 12px;
  height: 12px;
  border-radius: 6px;
  background: #fff;
  margin-left: 30px;
  cursor: pointer;
}

.input-range::before,
.input-range::after {
  position: absolute;
  content: "";
  display: block;
  height: 3px;
  top: 5px;
}

.input-range::before {
  background: #fff;
  width: 30px;
  left: 0px;
}

.input-range::after {
  background: rgb(124, 124, 124);
  width: 30px;
  right: -2px;
}
